#myCanvas{
    border-style: solid;
    border-color: red;
    border-radius: 50px;
}

#grapics{
    padding-top: 250px;
}
#preview{
    width: 45%;
    height: auto;
    min-height: 120px;
    max-height: 50%;
    min-width: 120px;
    max-width: 100%;
}
#myImage{
    width: 45%;
    height: auto;
    min-height: 120px;
    max-height: 50%;
    min-width: 120px;
    max-width: 100%;
}

#dominant-Color-display{
    width: 240px;
    height: 300px;
}